@import "../../baseStyle/main";

$navHeader_small_breakpoint: 500px;
$navHeader_medium_breakpoint: 760px;

.navHeader {
    display: block;
    background-color: $brand-color;
}

.navHeader_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: ($core-padding * 3);

    @media (min-width: $navHeader_medium_breakpoint) {
        flex-direction: row;
        justify-content: space-between;
        padding-top: ($core-padding * 3);
    }
}

.navHeader_logo {
    width: 100px;
    height: auto;

    @media (min-width: $navHeader_small_breakpoint) {
        margin-left: $core-margin;
        width: 120px;
    }

    @media (min-width: $navHeader_medium_breakpoint) {
        width: 100px;
        margin-left: ($core-margin * 4);
        padding-bottom: ($core-padding * 2);
    }
}

.navHeader_developerWrapper {
    text-align: center;
    @media (min-width: $navHeader_medium_breakpoint) {
        flex-grow: 1;
        margin-left: ($core-margin * 2);
        text-align: left;
    }
}

.navHeader_developer {
    font-size: 30px;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-top: ($core-margin * 2);

    @media (min-width: $navHeader_small_breakpoint) {
        font-size: 35px;
    }

    @media (min-width: $navHeader_medium_breakpoint) {
        margin-top: 0;
    }
}

.navHeader_developerTitle {
    font-family: 'Cormorant', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-top: ($core-margin * 0.5);
}

.navHeader_groupList {
    display: flex;
    margin-top: ($core-margin * 2);

    @media (min-width: $navHeader_small_breakpoint) {
        margin-right: ($core-margin * 2);
        margin-left: ($core-margin * 2);
    }

    @media (min-width: $navHeader_medium_breakpoint) {
        margin-top: 0;
        margin-right: 0;
        background-color: $light-color;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 90px;
        width: calc(100% - 180px);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
    }
}

.navHeader_listItem {
  height: 100%;
}

.navHeader_groupList li a {
    font-size: 16px;
    color: #444;
    font-weight: bold;
    letter-spacing: 0.4px;
    display: inline-block;
    padding: ($core-padding) ($core-padding * 2);
    box-sizing: border-box;
    background-color: $light-color;
    height: 100%;

    &:hover {
        background-color: lighten($accent-color, 15%);
        transition: background-color 0.2s;
    }

    @media (min-width: $navHeader_medium_breakpoint) {
       padding: ($core-padding * 3);
       font-size: 21px;
    }
}

.navHeader_listItem {
    list-style-type: none;
}

.navHeader_groupList li a.active {
  background-color: $accent-color;
    color: $light-color;
}