//skill card styles
@import "../../baseStyle/main";
$gallery_small_breakpoint: 600px;
$gallery_medium_breakpoint: 760px;
$gallery_max-width: 1000px;
$gallery_large_breakpoint: $gallery_max-width;


@keyframes gallery_spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.gallery {
  display: block;
  margin: 0 auto;
}

.gallery_link {
  position: relative;
  cursor: pointer;

  @media (min-width: $gallery_medium_breakpoint) {
    &:hover .gallery_container:before {
      content: "Works";
      opacity: 1;
      background-color: rgba(40, 40, 40, 0.6);
    }
  }
}

.gallery_container {
  position: relative;
  background-color: $light-color;
  padding: ($core-padding * 2);
  border-top: 1px solid $border-color;
  margin-bottom: $core-margin * 3;
  min-height: 80vh;

  h2 {
    margin-top: ($core-margin * 4);
    margin-bottom: $core-margin;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

    @media (min-width: $gallery_medium_breakpoint) {
      font-size: 26px;
    }
  }
}

.gallery_workTitle {
  font-size: 26px;
  font-family: 'Montserrat', sans-serif;
  color: $brand-color;
  border: 2px solid $brand-color;
  border-radius: 4px;
  background-color: $light-color;
  margin-bottom: ($core-margin * 2);
  padding: ($core-padding * 0.5) $core-padding;

  @media (min-width: $gallery_medium_breakpoint) {
    display: none;
  }
}

.gallery_previewMain {
  max-width: 1000px;
  margin: 0 auto;

  @media (min-width: $gallery_small_breakpoint) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px
  }
}

.gallery_previewMainItem {
  display: block;
  color: #444;
  margin-top: ($core-margin * 3);
  @media (min-width: $gallery_small_breakpoint) {
    flex-basis: calc(50% - 15px);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;


    &:hover {
        background-color: #ddd;
    }
  }

  p {
    margin-top: ($core-margin * 2);
    line-height: 1.5;
  }
}

.gallery_previewMainItem-nohover {
   &:hover {
        background-color: #fff;
    }
}

.gallery_previewMainImage {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.gallery_loadingSpinner {
  position: absolute;
border-right-color: transparent;
top: 50%;
right: 0;
left: 0;
height: 50px;
width: 50px;
animation: gallery_spinner 0.8s infinite linear;
border-width: 3px;
border-style: solid;
border-color: $brand-color;
border-right-color: transparent;
border-radius: 50%;
margin: 0 auto;
}
