$imageGallery_small_breakpoint: 500px;
$imageGallery_medium_breakpoint: 800px;

.imageGalleryContainer {
    display: flex;
    min-height: 100vh;
    margin-top: 3px;
    background-color: #fff;
    @media (min-width: $imageGallery_medium_breakpoint) {
        margin-top: 5px;
    }

}

.gallery_imageContainer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
 
    @media screen and (min-width: $imageGallery_medium_breakpoint) {
        grid-template-columns: 1fr 1fr;
        padding-bottom: 49px;
    }
    img {
        max-width: 100%;
        align-self: center;
    }
}

