@import "../../baseStyle/main";

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $core-padding;
  background-color: $brand-color;
  text-align: center;
  color: #fff;
}
