@import "../../baseStyle/main";

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $core-padding;
  color: $brand-color;
  text-align: center;
  background-color: #fff;

  @media (min-width: 800px) {
    position: fixed;
    max-width: 1420px;
    margin: 0 auto;
    background-color: $brand-color;
    color: #fff;
  }
}
