//profile card styles
@import "../../baseStyle/main";
$profileCard_small_breakpoint: 500px;
$profileCard_medium_breakpoint: 800px;
$profileCard_max-width: 1000px;
$profileCard_large_breakpoint: $profileCard_max-width;

.profileCard {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: $profileCard_max-width;

    @media (min-width: $profileCard_medium_breakpoint) {
        flex-basis: 50%;
    }

    @media (min-width: $profileCard_large_breakpoint) {
        flex-basis: 60%;
    }
}

.profileCard_avatarContainer {
    transform: translateY(-75px);

    @media (min-width: $profileCard_small_breakpoint) {
        transform: translateY(-100px);
    }
}

.profileCard_avatarImage {
    display: block;
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: ($core-margin * 0.4);
    border: 1px solid #ddd;
    background-color: rgba(200, 200, 200, 0.5);

    @media (min-width: $profileCard_small_breakpoint) {
        width: 170px;
        height: 170px;
    }
}

.profileCard_content_container {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: $light-color;

    @media (min-width: $profileCard_medium_breakpoint) {
        height: 100%;
    }
}

.profileCard_coverImageContainer {
    display: flex;
    align-items: center;
    height: 180px;
    flex-shrink: 0;
    flex-grow: 0;
    overflow: hidden;

    @media (min-width: $profileCard_small_breakpoint) {
        height: 240px;
    }
}

.profileCard_bioInfoContent {
    padding-left: ($core-margin * 2);
    padding-right: ($core-margin * 2);
    padding-bottom: $core-padding;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;

    @media (min-width: $profileCard_small_breakpoint) {
        padding-top: $core-padding;
    }

    @media (min-width: $profileCard_large_breakpoint) {
        padding-left: ($core-margin * 5);
        padding-right: ($core-margin * 5);
    }
}

.profileCard_coverImage {
    width: 100%;
}

.profileCard_bioInfoText {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.4px;
    margin-bottom: $core-margin;
    text-align: center;

    p {
        margin-top: $core-margin;
        margin-bottom: $core-margin;
    }

    a {
      margin-top: $core-margin;
    color: #444;

    &:hover {
    color: $brand-color;
    text-decoration: underline;
    }
    }


    @media (min-width: $profileCard_small_breakpoint) {
        text-align: left;
    }

    @media (min-width: $profileCard_large_breakpoint) {
        flex-basis: 70%;
    }
}

.profileCard_groupBio {
    margin-top: ($core-margin * 2);
    margin-bottom: ($core-margin * 2);
    text-align: center;

    @media (min-width: $profileCard_small_breakpoint) {
        justify-content: flex-start;
    }

    @media (min-width: $profileCard_large_breakpoint) {
        width: 50%;
        margin: 0 auto;
    }
}

.profileCard_groupBioName {
    font-family: 'Montserrat', sans-serif;
}

.profileCard_groupBioWork {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $core-margin;
    margin-bottom: $core-margin;

    @media (min-width: $profileCard_large_breakpoint) {
        margin-bottom: ($core-margin * 3);
    }
}

.profileCard_workIcon {
    width: 30px;
    margin-right: $core-margin;
}

.profileCard_workplace {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: $dark-color;
}